*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

html,
body {
  min-height: 100%;
}

body {
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  padding: 6.2rem 2.4rem 9.4rem;
  background: linear-gradient(rgba(18, 23, 37, 0.9), rgba(18, 23, 37, 0.9)), url("/assets/mobile/image-host.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5.7rem;
}

.logo-img {
  display: block;
  max-width: 100%;
}

.text-container {
  text-align: center;
  margin-bottom: 3.3rem;
}
.text-container__paragraph {
  color: #c2cbe5;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.heading-primary {
  font-size: 2.6rem;
  line-height: 3.8rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.heading-primary--green {
  color: #54e6af;
}
.heading-primary--white {
  color: #ffffff;
}
.heading-primary--green, .heading-primary--white {
  display: block;
}

.podcast-logos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.8rem;
}

.podcast-logo {
  display: block;
}
.podcast-logo--spotify {
  width: 17.1%;
  max-width: 5.6rem;
  max-height: 1.7rem;
  margin-right: 7%;
}
.podcast-logo--apple {
  width: 13.8%;
  max-width: 4.5rem;
  max-height: 1.7rem;
  margin-right: 7.6%;
}
.podcast-logo--google {
  width: 22.3%;
  max-width: 7.3rem;
  max-height: 1.1rem;
  margin-right: 4.9%;
}
.podcast-logo--pocket {
  width: 23.5%;
  max-width: 7.7rem;
  max-height: 1.5rem;
}

.form,
.form__input,
.form__btn {
  display: block;
}
.form-error-empty, .form-error-invalid,
.form__input-error-empty,
.form__input-error-invalid,
.form__btn-error-empty,
.form__btn-error-invalid {
  color: #fb3e3e;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
  margin-left: 3.2rem;
}
.form-submit-success,
.form__input-submit-success,
.form__btn-submit-success {
  color: #54e6af;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
  margin-left: 3.2rem;
}
.form__input,
.form__input__input,
.form__btn__input {
  width: 100%;
  height: 4.6rem;
  border-radius: 2.8rem;
  border: none;
  font-family: "Chivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #ffffff;
  background: #2c344b;
  padding: 0.9rem 0 0.9rem 3.2rem;
  margin-bottom: 1.6rem;
}
.form__input::-moz-placeholder, .form__input__input::-moz-placeholder, .form__btn__input::-moz-placeholder {
  font-family: "Chivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #ffffff;
  opacity: 0.5;
}
.form__input::placeholder,
.form__input__input::placeholder,
.form__btn__input::placeholder {
  font-family: "Chivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #ffffff;
  opacity: 0.5;
}
.form__input:focus,
.form__input__input:focus,
.form__btn__input:focus {
  outline: none;
}
.form__btn,
.form__input__btn,
.form__btn__btn {
  width: 100%;
  height: 4.6rem;
  border-radius: 2.8rem;
  border: none;
  font-family: "Chivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #121725;
  background: #54e6af;
  box-shadow: 0 2.5rem 2rem -2rem rgba(84, 230, 175, 0.5);
}

.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */