*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

html,
body {
  min-height: 100%;
}

body {
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  padding: 6.2rem 2.4rem 9.4rem;
  background: linear-gradient(rgba(18, 23, 37, 0.9), rgba(18, 23, 37, 0.9)), url("/assets/mobile/image-host.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 52.35rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5.7rem;
}

.logo-img {
  display: block;
  max-width: 100%;
}

.text-container {
  text-align: center;
  margin-bottom: 3.3rem;
}
.text-container__paragraph {
  color: #c2cbe5;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.heading-primary {
  font-size: 2.6rem;
  line-height: 3.8rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.heading-primary--green {
  color: #54e6af;
}
.heading-primary--white {
  color: #ffffff;
}
.heading-primary--green, .heading-primary--white {
  display: block;
}

.podcast-logos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.8rem;
}

.podcast-logo {
  display: block;
}
.podcast-logo--spotify {
  width: 17.1%;
  max-width: 9.6rem;
  max-height: 2.9rem;
  margin-right: 7%;
}
.podcast-logo--apple {
  width: 13.8%;
  max-width: 7.8rem;
  max-height: 2.9rem;
  margin-right: 7.6%;
}
.podcast-logo--google {
  width: 22.3%;
  max-width: 12.5rem;
  max-height: 1.8rem;
  margin-right: 4.9%;
}
.podcast-logo--pocket {
  width: 23.5%;
  max-width: 12.9rem;
  max-height: 2.6rem;
}

.form,
.form__input,
.form__btn {
  display: block;
}
.form-error-empty, .form-error-invalid,
.form__input-error-empty,
.form__input-error-invalid,
.form__btn-error-empty,
.form__btn-error-invalid {
  color: #fb3e3e;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
  margin-left: 3.2rem;
}
.form-submit-success,
.form__input-submit-success,
.form__btn-submit-success {
  color: #54e6af;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
  margin-left: 3.2rem;
}
.form__input,
.form__input__input,
.form__btn__input {
  width: 100%;
  height: 4.6rem;
  border-radius: 2.8rem;
  border: none;
  font-family: "Chivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #ffffff;
  background: #2c344b;
  padding: 0.9rem 0 0.9rem 3.2rem;
  margin-bottom: 1.6rem;
}
.form__input::-moz-placeholder, .form__input__input::-moz-placeholder, .form__btn__input::-moz-placeholder {
  font-family: "Chivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #ffffff;
  opacity: 0.5;
}
.form__input::placeholder,
.form__input__input::placeholder,
.form__btn__input::placeholder {
  font-family: "Chivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #ffffff;
  opacity: 0.5;
}
.form__input:focus,
.form__input__input:focus,
.form__btn__input:focus {
  outline: none;
}
.form__btn,
.form__input__btn,
.form__btn__btn {
  width: 100%;
  height: 4.6rem;
  border-radius: 2.8rem;
  border: none;
  font-family: "Chivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #121725;
  background: #54e6af;
  box-shadow: 0 2.5rem 2rem -2rem rgba(84, 230, 175, 0.5);
}

@media (min-width: 48em) {
  body {
    padding: 0 0 0 3.9rem;
    background: initial;
    display: block;
    background-color: #121725;
  }
  main {
    max-width: initial;
  }
  main::after {
    content: "";
    display: block;
    background-image: linear-gradient(rgba(84, 230, 175, 0.05), rgba(84, 230, 175, 0.05)), url("/assets/tablet/image-host.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 49.1rem;
    height: 76.7rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .logo-container {
    height: 25.8rem;
    width: 27.7rem;
    display: block;
    padding-top: 5rem;
    margin-bottom: initial;
  }
  .logo-img {
    width: 13.4851rem;
    height: 5.6rem;
  }
  .text-container {
    width: 63.5rem;
    height: 50.9rem;
    padding-top: 9.3rem;
    text-align: initial;
    margin-bottom: initial;
    background: #121725;
    display: flex;
    flex-direction: column;
  }
  .text-container__paragraph {
    font-size: 1.8rem;
    line-height: 2.8rem;
    width: 44.5rem;
    height: 8.4rem;
    margin-bottom: 4rem;
  }
  .heading-primary {
    font-size: 4.8rem;
    line-height: 5.6rem;
    margin-bottom: 3.1rem;
  }
  .form .input-btn-container,
  .form__input .input-btn-container,
  .form__btn .input-btn-container {
    position: relative;
    width: 42.7rem;
    height: 5.6rem;
  }
  .form__input,
  .form__input__input,
  .form__btn__input {
    width: 100%;
    height: 100%;
    padding: 1.4rem 0 1.4rem 3.2rem;
    margin-bottom: initial;
  }
  .form__btn,
  .form__input__btn,
  .form__btn__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 16.2rem;
    height: 4.6rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
  }
  .form-error-empty, .form-error-invalid, .form-submit-success,
  .form__input-error-empty,
  .form__input-error-invalid,
  .form__input-submit-success,
  .form__btn-error-empty,
  .form__btn-error-invalid,
  .form__btn-submit-success {
    margin-bottom: initial;
    margin-top: 0.8rem;
  }
  .podcast-logos-container {
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: initial;
  }
  .podcast-logo--spotify {
    width: 9.6rem;
    height: 2.9rem;
    max-width: initial;
    max-height: initial;
    margin-right: 4rem;
  }
  .podcast-logo--apple {
    width: 7.8rem;
    height: 2.9rem;
    max-width: initial;
    max-height: initial;
    margin-right: 4.1rem;
  }
  .podcast-logo--google {
    width: 12.5rem;
    height: 1.8rem;
    max-width: initial;
    max-height: initial;
    margin-right: 2.7rem;
  }
  .podcast-logo--pocket {
    width: 12.9rem;
    height: 2.6rem;
    max-width: initial;
    max-height: initial;
  }
  .pattern-dots-container {
    height: 25.7rem;
    display: flex;
  }
  .pattern-dots-img {
    display: block;
    margin-top: auto;
  }
}
@media (min-width: 72.81em) {
  body {
    display: flex;
    padding: 0;
  }
}
@media (min-width: 90em) {
  body {
    padding: 10.2rem 0 0 16.5rem;
    display: block;
  }
  main::after {
    background-image: linear-gradient(rgba(84, 230, 175, 0.05), rgba(84, 230, 175, 0.05)), url("/assets/desktop/image-host.jpg");
    width: 88.8rem;
    height: 64rem;
    top: 13rem;
  }
  .logo-container {
    height: initial;
    width: initial;
    display: inline-block;
    padding-top: initial;
    margin-bottom: 10.3rem;
  }
  .text-container {
    width: 72.3rem;
    height: 50.9rem;
    padding-top: 8.8rem;
  }
  .heading-primary {
    font-size: 5.2rem;
    line-height: 6.2rem;
    margin-bottom: 2.4rem;
  }
  .pattern-dots-container {
    height: 13rem;
    justify-content: flex-end;
  }
  .pattern-dots-img {
    width: 23.2rem;
    height: 10.4rem;
    margin-top: initial;
    transform: translateY(-50%);
  }
  .form__btn:is(:hover, :focus) {
    cursor: pointer;
    background: #b3ffe2;
    outline: none;
  }
}
.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */