// ********** STYLE GUIDE **********

// ************* COLORS ************
$color-mediumAquamarine: #54e6af;
$color-tuna: #2c344b;
$color-mirage: #121725;
$color-white: #ffffff;
$color-marbleBlue: #5a668a;
$color-periwinkleGrey: #c2cbe5;
$color-error: #fb3e3e;
$color-buttonHover: #b3ffe2;

// ********** FONT FAMILY **********
$font-primary: "Chivo", sans-serif;

// ********* FONT WEIGHT **********
$font-weight-normal: 400;
