// ********** STYLE GUIDE **********

// ************* COLORS ************
$color-mediumAquamarine: #54e6af;
$color-tuna: #2c344b;
$color-mirage: #121725;
$color-white: #ffffff;
$color-marbleBlue: #5a668a;
$color-periwinkleGrey: #c2cbe5;
$color-error: #fb3e3e;
$color-buttonHover: #b3ffe2;

// ********** FONT FAMILY **********
$font-primary: "Chivo", sans-serif;

// ********* FONT WEIGHT **********
$font-weight-normal: 400;

// ************** MXINS *************
@mixin input-btn-styles {
  width: 100%;
  height: 4.6rem;
  border-radius: 2.8rem;
  border: none;
}

@mixin text-styles($color) {
  font-family: $font-primary;
  font-size: 1.4rem;
  font-weight: $font-weight-normal;
  line-height: 2.8rem;
  color: $color;
}

@mixin error-success-styles($color) {
  color: $color;
  font-size: 1.2rem;
  font-weight: $font-weight-normal;
  margin-bottom: 0.8rem;
  margin-left: 3.2rem;
}

// ************ GENERAL ************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

html,
body {
  min-height: 100%;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  font-weight: $font-weight-normal;
  padding: 6.2rem 2.4rem 9.4rem;
  background: linear-gradient(
      rgba($color-mirage, 0.9),
      rgba($color-mirage, 0.9)
    ),
    url("/assets/mobile/image-host.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 57.1rem;
}

// ********* LOGO CONTAINER ********
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5.7rem;
}

.logo-img {
  display: block;
  max-width: 100%;
}

// ******** TEXT CONTAINER *********
.text-container {
  text-align: center;
  margin-bottom: 3.3rem;

  &__paragraph {
    color: $color-periwinkleGrey;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

.heading-primary {
  font-size: 2.6rem;
  line-height: 3.8rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;

  &--green {
    color: $color-mediumAquamarine;
  }

  &--white {
    color: $color-white;
  }

  &--green,
  &--white {
    display: block;
  }
}

// **** PODCAST LOGOS CONTAINER ****
.podcast-logos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.8rem;
}

.podcast-logo {
  display: block;

  &--spotify {
    width: 17.1%;
    max-width: 9.6rem;
    max-height: 2.9rem;
    margin-right: 7%;
  }

  &--apple {
    width: 13.8%;
    max-width: 7.8rem;
    max-height: 2.9rem;
    margin-right: 7.6%;
  }

  &--google {
    width: 22.3%;
    max-width: 12.5rem;
    max-height: 1.8rem;
    margin-right: 4.9%;
  }

  &--pocket {
    width: 23.5%;
    max-width: 12.9rem;
    max-height: 2.6rem;
  }
}

// ******** FORM CONTAINER *********
.form,
.form__input,
.form__btn {
  display: block;

  &-error-empty,
  &-error-invalid {
    @include error-success-styles($color-error);
  }

  &-submit-success {
    @include error-success-styles($color-mediumAquamarine);
  }

  &__input {
    @include input-btn-styles;
    @include text-styles($color-white);
    background: $color-tuna;
    padding: 0.9rem 0 0.9rem 3.2rem;
    margin-bottom: 1.6rem;
  }

  &__input::placeholder {
    @include text-styles($color-white);
    opacity: 0.5;
  }

  &__input:focus {
    outline: none;
  }

  &__btn {
    @include input-btn-styles;
    @include text-styles($color-mirage);
    background: $color-mediumAquamarine;
    box-shadow: 0 2.5rem 2rem -2rem rgba(84, 230, 175, 0.5);
  }
}

// ******* 768px MEDIA QUERY ********
@media (min-width: 48em) {
  // *********** GENERAL ************
  body {
    padding: 0 0 0 3.9rem;
    background: initial;
    display: block;
    background-color: $color-mirage;
  }

  main::after {
    content: "";
    display: block;
    background-image: linear-gradient(
        rgba($color-mediumAquamarine, 0.05),
        rgba($color-mediumAquamarine, 0.05)
      ),
      url("/assets/tablet/image-host.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 49.1rem;
    height: 76.7rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  // ******** LOGO CONTAINER ********
  .logo-container {
    height: 25.8rem;
    width: 27.7rem;
    display: block;
    padding-top: 5rem;
    margin-bottom: initial;
  }

  .logo-img {
    width: 13.4851rem;
    height: 5.6rem;
  }

  // ******** TEXT CONTAINER ********
  .text-container {
    width: 63.5rem;
    height: 50.9rem;
    padding-top: 9.3rem;
    text-align: initial;
    margin-bottom: initial;
    background: $color-mirage;
    display: flex;
    flex-direction: column;

    &__paragraph {
      font-size: 1.8rem;
      line-height: 2.8rem;
      width: 44.5rem;
      height: 8.4rem;
      margin-bottom: 4rem;
    }
  }

  .heading-primary {
    font-size: 4.8rem;
    line-height: 5.6rem;
    margin-bottom: 3.1rem;
  }

  // ******** FORM CONTAINER ********
  .form,
  .form__input,
  .form__btn {
    .input-btn-container {
      position: relative;
      width: 42.7rem;
      height: 5.6rem;
    }

    &__input {
      width: 100%;
      height: 100%;
      padding: 1.4rem 0 1.4rem 3.2rem;
      margin-bottom: initial;
    }

    &__btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 16.2rem;
      height: 4.6rem;
      margin: 0.5rem 0.5rem 0.5rem 0;
    }

    &-error-empty,
    &-error-invalid,
    &-submit-success {
      margin-bottom: initial;
      margin-top: 0.8rem;
    }
  }

  // *** PODCAST LOGOS CONTAINER ***
  .podcast-logos-container {
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: initial;
  }

  .podcast-logo {
    &--spotify {
      width: 9.6rem;
      height: 2.9rem;
      max-width: initial;
      max-height: initial;
      margin-right: 4rem;
    }

    &--apple {
      width: 7.8rem;
      height: 2.9rem;
      max-width: initial;
      max-height: initial;
      margin-right: 4.1rem;
    }

    &--google {
      width: 12.5rem;
      height: 1.8rem;
      max-width: initial;
      max-height: initial;
      margin-right: 2.7rem;
    }

    &--pocket {
      width: 12.9rem;
      height: 2.6rem;
      max-width: initial;
      max-height: initial;
    }
  }

  // *** PATTERN DOTS CONTAINER ***
  .pattern-dots-container {
    height: 25.7rem;
    display: flex;
  }

  .pattern-dots-img {
    display: block;
    margin-top: auto;
  }
}

// * CLASSES USED WITH JAVASCRIPT *
.hidden {
  display: none;
}
